* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#myModalHocSinh {
  display: none;
}
#myModalNhanVien {
  display: none;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  color: white;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  .main {
    height: 680px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 1;
    .form {
      width: 450px;
      height: 100%;
      padding: 0px 24px;
      text-align: center;
      background: #fff;
      border-radius: 2px;
      position: relative;
      align-self: center;
      box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
      .btn_close {
        position: absolute;
        right: 20px;
        top: 10px;
        border: none;
        background: #fff;
      }
      .heading {
        color: #000;
        font-size: 20px;
        margin-top: 20px;
      }
      .desc {
        text-align: center;
        color: #000;
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        font-weight: 300;
      }
      .form_group {
        display: flex;
        margin-bottom: 8px;
        flex-direction: column;
        color: #000;
      }
      .form_gender {
        display: flex;
        align-items: center;
        label {
          padding-bottom: 0px;
          line-height: 100%;
          margin: 0;
          padding-right: 10px;
        }
      }
      .form-message,
      .form-label {
        text-align: left;
      }
      .form-label {
        font-weight: 700;
        padding-bottom: 6px;
        line-height: 16px;
        font-size: 16px;
      }
      .form-control {
        height: 40px;
        padding: 8px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none;
        font-size: 16px;
      }
      .form-control:hover {
        border-color: #1dbfaf;
      }
      .form_group.invalid .form-control {
        border-color: #f33a58;
      }
      .form_group.invalid .form-message {
        color: #f33a58;
      }
      .form-message {
        font-size: 16px;
        line-height: 16px;
        padding: 4px 0 0;
      }
      .form-submit {
        outline: none;
        background-color: #1dbfaf;
        padding: 12px 16px;
        font-weight: 600;
        color: #fff;
        border: none;
        width: 100%;
        font-size: 14px;
        border-radius: 8px;
        cursor: pointer;
      }
      .form-submit:hover {
        background-color: #1ac7b6;
      }
    }
  }
}
